<p id="notice"><%= notice %></p>

<%= form_tag(songs_path, method: 'get') do %>

<div class="row">
<div class="col-sm-6">
    <div class="form-group">
      <%= label_tag :genre_id %>

      <%= select_tag :genre_id, options_for_select(Genre.all.collect { |g| [ g.name, g.id ] }), class: 'form-control', include_blank: 'Todos' %>
    </div>

    <div class="actions">
      <%= submit_tag 'Filtrar', class: "btn btn-info" %>
    </div>
  </div>

  <div class="col-sm-6">
    <label>Ordenar Alfabeticamente</label>
    <%= check_box_tag 'sort_alpha' %>
  </div>
</div>




<% end %>

<h1>Songs</h1>

<table class="table table-bordered table-hovered table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Duration</th>
      <th>Genre</th>
      <th>Playlist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.name %></td>
        <td><%= song.duration %></td>
        <td><%= song.genre %></td>
        <td>
          <%= form_for [song, Playlist.new] do |f| %>
          
          <%= f.submit "Agregar al Playlist", class: 'btn btn-success btn-sm' %>
          <% end %>

          
        </td>
        <td><%= link_to 'Show', song %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %></td>
        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_song_path %>
